
<div class="mainContainer loginPage" style="z-index: 1">
    
    <!-- Body -->
    <div class="row">
        
        <!-- Main content-->
        <div class="col-md-12">

            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 centered mainBox">

                    <div class="row ">
                        <div class="col-sm-12 logo">
                            <img src="img/logo2.png" height="50" width="50" alt="."/> FreaKoupon Admin
                        </div>
                        <!---->
                        <div class="col-sm-8 col-sm-offset-2 loginBox">  
                            <form name="userCreds" class="form-horizontal secureForm" data-ng-submit="reset(userCreds.$valid, user)" novalidate>
                                <fieldset>
                                    <!-- username/email -->
                                    <div class="form-group">
                                        <input class="form-control" name="email" type="email" data-ng-model="user.Email" 
                                                data-ng-change="invalid = false" placeholder="Registered Email address" required />
                                        <p data-ng-show="userCreds.email.$invalid && !userCreds.email.$pristine" class="help-block">Your Email is required.</p>
                                    </div>
                                    <div class="form-group white has-error" data-ng-show="invalid">
                                        This Email is not registered with us.
                                    </div>
                                </fieldset>
                                <div class="row">
                                    <div class="col-xs-3 "><button class="btn btn-default pull-left" data-ng-click="goBack()">Cancel</button></div>
                                    <div class="col-xs-9 "><button type="submit" class="btn btn-success pull-right" data-ng-disabled="!userCreds.$valid">Send Reset link</button></div>
                                </div>
                            </form>  
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>