
<div class="mainContainer loginPage" style="z-index: 1">
    
    <!-- Body -->
    <div class="row">
        
        <!-- Main content-->
        <div class="col-md-12">

            <div class="row">
                <div class=" col-sm-4 col-sm-offset-4 centered mainBox">

                    <div class="row ">
                        <div class="col-md-12 logo">
                            <img src="img/logo2.png" height="50" width="50" alt="."/> FreaKoupon Admin
                        </div>
                        <div class="col-md-12 white medium">
                        </div>
                        <div class="col-sm-8 col-sm-offset-2 loginBox">  
                            <form name="userCreds" class="form-horizontal secureForm" data-ng-submit="update(userCreds.$valid, user)" novalidate>
                                <fieldset>
                                    <!-- Password -->
                                    <div class="form-group">
                                        <input class="form-control" type="password" data-ng-model="user.first" name="first"  data-ng-class="{'ng-invalid':userCreds.password.$error.match}"
                                                data-ng-change="invalid = false" placeholder="New Password" data-ng-minlength="3" data-ng-maxlength="8" required />
                                        <p data-ng-show="userCreds.first.$invalid && !userCreds.first.$pristine" class="help-block">New Password is required</p>
                                        <p data-ng-show="userCreds.first.$error.minlength" class="help-block">it's too short.</p>
                                        <p data-ng-show="userCreds.first.$error.maxlength" class="help-block">it's too long.</p>
                                    </div>

                                    <!-- Confirm Password -->
                                    <div class="form-group">
                                        <input class="form-control" type="password" data-ng-model="user.confirm" data-match="user.first" name="password" 
                                                placeholder="Confirm Password" required />
                                        <p data-ng-show="userCreds.password.$invalid && !userCreds.password.$pristine" class="help-block">Please confirm your Password.</p>
                                        <p data-ng-show="mismatch" class="help-block">Password mismatch.</p>
                                    </div>

                                </fieldset>
                                <div class="row">
                                    <div class="col-xs-3"><button class="btn btn-default pull-left" data-ng-click="goBack()">Cancel</button></div>
                                    <div class="col-xs-9"><button type="submit" class="btn btn-success pull-right" data-ng-disabled="!userCreds.$valid">Update my Password</button></div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12 col-lg-12" data-ng-show="redirect">You will be redirected to login page in 5 secs, please use your new password.</div>
                                </div>

                            </form>  
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>